.ReactModal__Content--after-open {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 95% !important;
  height: 100%;
  padding: 9px !important;
}
.modalWindow {
  font-weight: bold;
  color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  max-width: 302px;
}
.modalWindow button {
  font-size: 0.8rem;
  margin: -5px -5px 0px 0px;
  max-width: 150px;
  height: 20px;
  align-self: flex-start;
}
.modalWindow button.closeModal {
  margin: -5px -15px 0px 0px;
  width: 50px;
}
.modalWindow div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
