#react-container {max-width:500px}
      .menuItem p {
        cursor: pointer;         
      }      
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-weight: bold;
        color: #c0c0c0;
      }
      
      