@import '~antd/dist/antd.css';
$max-width-main: 320px;

html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.main-container {
	width: 99%;
	max-width: $max-width-main;
	font-size: 1.1rem;
	padding: 2vw;
}
.menu button {	
	font-size: 1.4rem;
	font-weight: bold; 
	color: white;
	text-align: left;
	width:$max-width-main;
	max-width: $max-width-main;
	min-height: 70px;
	padding: 2vh;
	cursor: pointer;
}
span.back-button {
    display: inline-flex;
    justify-content: flex-end;
		width: 100%;		
}
span.back-button .ant-btn {
	font-size:17px;
	background-color: white;
	color:gray;
	border:1px solid #999;
	height:50px;
	width:100px;
}

span.close {
	position: relative;
    float: right;
    color: white;
    font-size: 17px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0px 7px 0px 7px;
		right: 0vw;	 
		cursor: pointer;
}
button {
	color: rgb(49, 49, 49);
	color:white;
	font-size:1.5rem;
	max-width: 250px;
	width: 150px;
	height:70px;	
	margin: 2vh 0 0 0;
	border-radius:10px;
	border:none;
	background-color: #1890ff;
	cursor: pointer;
	
}
.note-buttons {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}
textarea {
	max-width: $max-width-main;
	width:99%;
	font-size:20px;
	padding:5px 0 0 5px;
	color:rgb(150, 150, 150);
	border-radius:10px;
}

form {
	display: flex-inline;
	justify-content: flex-start;
	max-width: $max-width-main;
}

.note-text {
	color: white;
	padding: 5px 0 7px 10px;
	border-radius: 10px;
	background-color:#1890ff;
	margin: 0vh 0 15px 0;
	font-size:1.5rem;
	white-space: pre-line;
	cursor: pointer;
}
.timestamp {
	font-size: 0.65rem;
    display: flex;
    justify-content: flex-end;
}
.page-title {
}
.ant-btn-primary {
	
}
